<div class="main">
  <div class="map" >
        <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.3736129275635!2d30.499397815867635!3d50.452767095078755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce60a18e63d9%3A0x11fb1884420435c4!2z0YPQuy4g0JHRg9C70YzQstCw0YDQvdC-LdCa0YPQtNGA0Y_QstGB0LrQsNGPLCAxOC8yLCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1527881293802" width="70%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
  </div>
  <div [ngClass]="{invisible: !visibility}">
    <p>Найти аудиторию</p>
    <p>Какую аудиторию Вы хотите?</p>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
        <!--todo: ограничить min=1 max=15 -->
        <div class="form-group">
          <input
            type="number"
            min="1"
            max="299"
            maxlength = "3"
            class="form-control"
            [(ngModel)]="room"
            name="room"
            required
          >
        </div>
        <button type="submit" class="btn btn-primary">
          Поиск
        </button>
      </form>
    </div>
    <p>Выберите этаж:</p>

    <!--todo: сделать checked радиобатон-->
    <form action="">
    <label> <input type="radio" [(ngModel)]="floor" name="floor" value="0"> -1 подвальный</label><br>
      <label><input type="radio" [(ngModel)]="floor" name="floor" value="1"> 0 первый</label><br>
      <label><input type="radio" [(ngModel)]="floor" name="floor" value="2"> 1 второй</label><br>
      <label><input type="radio" [(ngModel)]="floor" name="floor" value="3"> 2 третий</label><br>
      <label><input type="radio" [(ngModel)]="floor" name="floor" value="4"> 3 четвертый</label><br>
    </form>

  </div>
  <div [ngClass]="{invisible: visibility}">
    <p>Аудитория {{room}}</p>
    <div *ngIf="isBusy"> Занята, {{personsOnSelectRoom}} человек </div>
    <div *ngIf="!isBusy"> Свободно</div>
    <button type="submit" class="btn btn-primary" (click)="goBack()">
      goBack
    </button>
  </div>
</div>

<div class="footer">
  <p>CampoRoom 2018</p>
  <p>All rights reserved</p>
</div>
